.btn {
  display: inline-flex;
  padding: 1rem 2rem;
  align-items: flex-start;
  gap: 0.625rem;
  background-color: map-get($colors-list, "primary");
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 2px;
  line-height: 1rem;
  font-family: $font-family;
  &:hover {
    background-color: darken(map-get($colors-list, "primary"), 10);
  }
  &:focus {
    box-shadow: 0px 0px 4px 0px #99aded;
    background-color: darken(map-get($colors-list, "primary"), 10);
  }
}

.btn-success {
  background-color: map-get($colors-list, "success");
  &:hover {
    background-color: darken(map-get($colors-list, "success"), 10);
  }
  &:focus {
    box-shadow: 0px 0px 4px 0px lighten(map-get($colors-list, "success"), 20);
    background-color: darken(map-get($colors-list, "success"), 10);
  }
}

.btn-warning {
  background-color: map-get($colors-list, "warning");
  &:hover {
    background-color: darken(map-get($colors-list, "warning"), 10);
  }
  &:focus {
    box-shadow: 0px 0px 4px 0px lighten(map-get($colors-list, "warning"), 20);
    background-color: darken(map-get($colors-list, "warning"), 10);
  }
}

.btn-danger {
  background-color: map-get($colors-list, "danger");
  &:hover {
    background-color: darken(map-get($colors-list, "danger"), 10);
  }
  &:focus {
    box-shadow: 0px 0px 4px 0px lighten(map-get($colors-list, "danger"), 20);
    background-color: darken(map-get($colors-list, "danger"), 10);
  }
}

.btn-info {
  background-color: map-get($colors-list, "info");
  &:hover {
    background-color: darken(map-get($colors-list, "info"), 10);
  }
  &:focus {
    box-shadow: 0px 0px 4px 0px lighten(map-get($colors-list, "info"), 20);
    background-color: darken(map-get($colors-list, "info"), 10);
  }
}

.btn-medium {
  padding: 12px 16px;
}

.btn-small {
  padding: 8px 12px;
}

.btn-secondary {
  background-color: #e6ecff;
  color: map-get($colors-list, "info");
  &:hover {
    background-color: #c8d6ff;
  }
  &:focus {
    box-shadow: 0px 0px 4px 0px #99aded;
    background-color: #c8d6ff;
  }
}
