$colors-list: (
  primary: #51adff,
  secondary: #7e5bef,
  support: #ff49db,
  muted: #9aa5b5,
  success: #13ce66,
  info: #3366ff,
  warning: #ffb020,
  danger: #ff000d,
  text: #333,
);

// Base Pixel

$base: 0.5rem;
